.Single_Article {
  max-width: 941px;
  margin: 24px auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 19px;
  position: relative;
}

.Single_Article_Header {
  display: flex;
  margin-bottom: 4px;
}

.Title {
  margin: 0;
  margin-right: 13px;
  color: #1890ff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
  overflow: hidden;
  max-width: 666px;
}

.Author {
  position: absolute;
  top: 17px;
  right: 14px;
}

.short-text {
  margin: 0;
  margin-top: 19px;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  max-width: 682px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  word-wrap: break-word;
}

.Markdown {
  margin: 0;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  word-wrap: break-word;
}

.Markdown h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 4px 0;
}

.Markdown h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 0;
}

.Markdown p {
  margin: 0 0 30px;
}

.Markdown ol,
.Markdown ul {
  margin: 0;
  padding-left: 25px;
}

.Markdown img {
  max-width: 100%;
}

.Markdown * {
  white-space: pre-wrap;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 13px;
  top: 93px;
}

.controls .buttons {
  display: flex;
  height: 30px;
}

.controls button {
  margin-left: 12px;
}

.delete_error {
  color: #f5222d;
  font-size: 14px;
  padding: 5px 0;
}

.Likes_Content {
  display: flex;
  align-items: center;
}

.Likes_Button {
  background: url("../../../assets/icons_assets/images/like.svg") 50% 50% no-repeat;
  border: none;
  margin-right: 3px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Likes_Count {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
}

.Liked {
  background: url("../../../assets/icons_assets/images/filledLike.svg") 50% 50% no-repeat;
}

.Icon_Warning {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  background: url("../../../assets/icons_assets/images/warning.svg") 50% 50% no-repeat;
  margin: 0;
}
.Tag_List {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.Tag {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 6px 3px;
  max-width: 25%;
  max-height: 30px;
  overflow: hidden;
}
.User {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 46px;
  position: relative;
}

a:hover .User_Name {
  text-decoration: underline;
}

.User_Name {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 58px;
}

.User_Created {
  font-size: 12px;
  line-height: 22px;
  margin-right: 58px;
  color: rgba(0, 0, 0, 0.5);
}

.User_Avatar {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 25px;
}

.Article_Detail {
  display: flex;
  margin-top: 25px;
}

.Article_Detail p {
  width: -webkit-fill-available;
}

.Edit_Button {
  border: 1px solid #52c41a;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  background: none;
  margin: 0 5px;
  cursor: pointer;
  color: #52c41a;
}

.Edit_Button a {
  color: #52c41a;
}
.Delete_Button {
  border: 1px solid #f5222d;
  border-radius: 5px;
  width: 110px;
  height: 40px;
  background: none;
  margin: 0 5px;
  cursor: pointer;
  color: #f5222d;
}

.Delete_Button a {
  color: #f5222d;
}

.Delete_Confirm {
  align-items: end;
  position: absolute;
  right: -125px;
  width: 240px;
  height: 104px;
  background: #ffffff;
  border-radius: 4px;
  padding: 12px 16px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
  display: flex;
  flex-direction: column;
}

.Delete_Confirm::before {
  content: "";
  position: absolute;
  height: 10px;
  left: -5px;
  top: 10px;
  right: -12px;
  width: 15px;
  bottom: 6px;
  background: #ffffff;
  transform: rotate(130deg);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
}

.Delete_Warning {
  display: flex;
}

.Delete_Buttons {
  display: flex;
}

.Delete_Buttons button:first-child {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #ffffff;
  margin: 5px;
  cursor: pointer;
}

.Delete_Buttons button:nth-child(2) {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #1890FF;
  margin: 5px;
  color: #FFFFFF;
  cursor: pointer;
}
