.Header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
    box-sizing: border-box;
    color: var(--heading-color);
    background-color: var(--background-color-base);
    gap: 20px
}

.Header__title {
    margin-right: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: var(--text-color)
}