.Header {
height: 80px;
display: flex;
justify-content: center;
align-items: center;
padding: 0 22px;
box-sizing: border-box;
color: rgba(0, 0, 0, 0.85);
background-color: #ffffff;
gap: 20px
}

.Header_Title {
margin-right: auto;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-decoration: none;
color: rgba(0, 0, 0, 0.75);
}

.Signin_Button {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: rgba(0, 0, 0, 0.85);
border: 1px solid transparent;
cursor: pointer;
background: none;

}
.Signup_Button {
border: none;
background: none;
}
.Signup_Button a {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #52C41A;
border-radius: 5px;
border: 1px solid #52C41A;
background-color: #ffffff;
outline: none;
padding: 10px 18px;
text-decoration: none;
}

.Create_Article_Button {
  border: none;
  background: none;
}
.Create_Article_Button a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #52c41a;
  border-radius: 5px;
  border: 1px solid #52c41a;
  background-color: #ffffff;
  outline: none;
  padding: 4px 8px;
  text-decoration: none;
}

.Logout_Button{
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  outline: none;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 46px;
  position: relative;
}

a:hover .User_Name {
  text-decoration: none;
}

.User_Name {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 58px;
}

.User_Avatar {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 25px;
}
